@import 'variables.css';

strong{
    font-weight: bold;
}

h1{
    margin: 1rem 0 0 0;
}

p{
    margin: 0.5rem 0 0 0;
}

.article-content{
    line-height: 1.7rem;
}

.buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.delete-button,.archive-button{
    font-size: 0.9rem;
    font-weight: bold;
    color: white;

    border: none;
    border-radius: 0.5rem;

    padding: 0.5rem 1rem;
}

.delete-button{
    background-color: var(--delete-color);
}

.archive-button{
    background-color: var(--archive-color);

    margin: 0 0 0 1.2rem;
}
