@import 'variables.css';
@import "index.css";

.header {
    height: 80px;
    max-height: 5%;
    width: 100%;
    padding: 0.5rem 0 0 0.7rem;

    color: white;
    font-size: 1.3rem;

    background-color: var(--background-color);
    border-color: var(--border-color);
    border-style: solid;
    border-width: 0 0 10px 0;

    display: flex;
    justify-content: start; /*горизонт*/
    align-items: center; /*вертикаль*/

    /*position: sticky;*/
    /*top: 0;*/
    /*left: 0;*/
}
