@import 'variables.css';
@import "index.css";

.main{
    min-height: 80%;
    height: 650px;
    max-width: 80%;
    min-width: 60%;
    width: 70%;

    border: dashed 0.1rem var(--border-color);
    border-radius: 15px;

    box-shadow: var(--box-shadow);

    overflow: auto;
}

.main-title{
    margin: 2.5% 0 0 5%;
}

.articles-container{
    width: 90%;
    margin:0 5% 5% 5%;

    display: flex;
    flex-direction: column;
}