@import 'variables.css';
@import "index.css";

.main{
    min-height: 80%;
    height: 650px;
    min-width: 65%;

    border: dashed 0.1rem var(--border-color);
    border-radius: 15px;

    box-shadow: var(--box-shadow);

    overflow: auto;
}

.main-title{
    margin: 2.5% 0 0 5%;
}